/* @layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
    }

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
    } */

.img-container {
    /*background-image: url("public/office-supplies.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }